// Mobile first
$mediaWidthMobileMini: 320px;
$mediaWidthMobile: 480px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthdesktop: 1200px;
$mediaWidthdesktopHd: 1800px;

//font 
$open: 'open', sans-serif;
$reg: 400;
$bold: 700;
$semi: 600;
$extra: 800;

// colors
$yellow: #ffc24d;
$yellow-hover: #e5ae45;
$yellow-text: #e3ad45;
$blue: #4267b2;
$blue-text: #153574;
$blue-light: #e5edfd;
$text-grey: #8a8888;
$black: #090909;
$grey: #696868;
$w: #fff;

// transitions
$norm: 0.3s;
$fast: 0.1s;
$slow: 0.5s;
