section.mainsection
	.maisection__container.container
		h2.maisection__title Забор из профнастила эконом
		.maisection__content
			.maisection__info.maisection__info--info
				.info__current-slide
					img(src="/assets/img/content/work-01.jpg")
					img(src="/assets/img/content/work-01.jpg")
					img(src="/assets/img/content/work-01.jpg")
					img(src="/assets/img/content/work-01.jpg")
					img(src="/assets/img/content/work-01.jpg")
					img(src="/assets/img/content/work-01.jpg")
					img(src="/assets/img/content/work-01.jpg")
					img(src="/assets/img/content/work-01.jpg")
					//- img.info__current-slide-img(src="/assets/img/content/work-01.jpg")
				.info__text(data-da=("maisection__content,2,768"))
					.info__cta
						.info__cta-price от 951 руб. за п.м.
						+button("Заказать детальный рачёт", "/", "info__cta-order-btn")
					ul.info__benefits
						li.info__benefits-item Доставка до 50 км от Кирова в ПОДАРОК*
						li.info__benefits-item Выездной менеджер Бесплатно*
						li.info__benefits-item Саморезы оцинкованные в цвет забора*
			.maisection__slider
				ul.maisection__slider-list
					li.maisection__slider-item
						img.maisection__slider-item-img(src="/assets/img/content/work-01.jpg")
					li.maisection__slider-item
						img.maisection__slider-item-img(src="/assets/img/content/work-01.jpg")
					li.maisection__slider-item
						img.maisection__slider-item-img(src="/assets/img/content/work-01.jpg")
					li.maisection__slider-item
						img.maisection__slider-item-img(src="/assets/img/content/work-01.jpg")
					li.maisection__slider-item
						img.maisection__slider-item-img(src="/assets/img/content/work-01.jpg")
					li.maisection__slider-item
						img.maisection__slider-item-img(src="/assets/img/content/work-01.jpg")
					li.maisection__slider-item
						img.maisection__slider-item-img(src="/assets/img/content/work-01.jpg")
					li.maisection__slider-item
						img.maisection__slider-item-img(src="/assets/img/content/work-01.jpg")
				.slider__controls
					button(type="buttn").slider__controls-arrow.slider__controls-arrow--prev
						+icon("arrow", "slider__controls-arrow-icon")
					button(type="buttn").slider__controls-arrow.slider__controls-arrow--next
						+icon("arrow", "slider__controls-arrow-icon")
			.maisection__features
				table.maisection__features-table
					caption.maisection__features-table-capt Характеристики
					tbody
						tr
							th Столбы для забора:
							td(data-ttl="Столбы для забора:") 60х60 мм с толщиной стенки 1,5 мм
						tr
							th Лаги (поперечины между столбами):
							td(data-ttl="Лаги (поперечины между столбами):") 40х20 мм с толщиной стенки 1,5 мм
						tr
							th Профильный лист:
							td(data-ttl="") С односторонним полимерным покрытием толщиной 0,3 мм
						tr
							th Окраска/грунтовка:
							td(data-ttl="Профильный лист:") Столбы и лаги с грунтовкой ГФ-021
						tr
							th Монтаж:
							td(data-ttl="Монтаж:") Установка ограждения и всех его элементов включена в стоимость
				.mainsection__features-button
					+button("Получить консультацию", "mainsection__features-btn")