aside.breadcrumbs
	.breadcrumbs__container.container
		ul.breadcrumbs__list
			li.breadcrumbs__item
				a.breadcrumbs__item-link(href="/") Главная
			li.breadcrumbs__item
				a.breadcrumbs__item-link(href="/prof") Заборы из профнастила
			li.breadcrumbs__item 
				a.breadcrumbs__item-link Заборы из профнастила Эконом