form.form(action="" method="POST")
	h2.form__title Оставьте заявку прямо сейчас и узнайте точную стоимость уже через 5 минут
	label.form__label
		h3.form__label-title.input-title Введите свой телефон:
		input.form__input.input(type="text" required placeholder="+7 (XXX) xxx-xx-xx")
	.form__btn
		button.form__button.form-btn(type="submit") Заказать
	label.form__checkbox-label
		input.form__checkbox-input.checkbox-input(type="checkbox", name="agree" required)
		.form__checkbox-fake-input.checkbox-fake-input
		.form__checkbox-text.checkbox-text я даю согласие на обработку персональных данных