include ../common/mixins.pug

block variables

doctype html
html(lang="ru")
	block head
		head
			meta(charset="utf-8")
			title Title your site | #{title}
			meta(content="width=device-width, initial-scale=1" name="viewport")
			meta(content="ie=edge" http-equiv="x-ua-compatible")
			link(rel="stylesheet" href="/assets/css/base.css")
			link(rel="stylesheet" href="/assets/css/blocks/header.css")
			link(rel="stylesheet" href="/assets/css/blocks/footer.css")
			link(rel="stylesheet" href="/assets/css/utils/hamburgers/hamburgers.css")
			link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
			block styles
	body
		.wrapper
			.maincontent
				include ./header
				block content
				include ./footer
				
		script(src="/assets/js/main.js")
		script(type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js")
		script(type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
		script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
				
		block scripts