extends ../../common/layout

block styles
	//- link(rel="stylesheet" href="/assets/css/blocks/blog.css")

block variables
	-var title = "Забор из профнастила эконом"

block content
	include ../../common/breadcrumbs
	include ../../includes/goods/mainsection

block scripts
	//- script(src="/assets/js/index.js")