section.hero
	.hero__container.container
		.hero__form
			h1.hero__title ЗАБОРЫ ПОД КЛЮЧ <br><span>БЕЗ ПРЕДОПЛАТЫ И&nbsp;БЕСПЛАТНЫМ ЗАМЕРОМ</span>
			.hero__form-wrap.hero__form-wrap--form
				include ../../common/form
		.hero__image
			img.hero__image-img(src="/assets/img/content/hero.png", alt="Заборы под ключ")