-
	var fencesList = [
		{
			name: "Заборы из профнастила",
			href: "/"
		},
		{
			name: "Заборы из штакетника",
			href: "/"
		},
		{
			name: "Секционные профильные заборы",
			href: "/"
		},
		{
			name: "Заборы 3D",
			href: "/"
		},
		{
			name: "Заборы для дачи",
			href: "/"
		},
		{
			name: "Заборы на монолитно-ленточном фундаменте с кирпичными столбами",
			href: "/"
		},
		{
			name: "Заборы из сетки рабица",
			href: "/"
		},
		{
			name: "Секционные заборы из сетки",
			href: "/"
		}
	]
	var enterList = [
		{
			name: "Ворота распашные",
			href: "/"
		},
		{
			name: "Калитки",
			href: "/"
		},
		{
			name: "Ворота откатные",
			href: "/"
		}
	]
	var othersList = [
		{
			name: "Навесы для автомобилей",
			href: "/"
		},
		{
			name: "Выездной менеджер",
			href: "/"
		},
		{
			name: "Наши работы",
			href: "/"
		}
	]
//- ----------------------------------------------------------
//- --------------------------CATALOG-------------------------
//- ----------------------------------------------------------
aside#cat.cat
	.cat__container.container
		.cat__fences
			.cat__fences-wrap
				h3.cat__fences-title Заборы
				a.cat__fences-btn(href="/#calc") Онлайн калькулятор
			ul.cat__fences-list
				each item in fencesList
					li.cat__item
						a.cat__item-link(href=item.href)=item.name
		.cat__enter
			.cat__enter-wrap
				h3.cat__enter-title Входная группа
			ul.cat__enter-list
				each item in enterList
					li.cat__item
						a.cat__item-link(href=item.href)=item.name
		.cat__others
			.cat__others-wrap
				h3.cat__others-title Другое
			ul.cat__others-list
				each item in othersList
					li.cat__item
						a.cat__item-link(href=item.href)=item.name