@import "../mixins/media";
@import "../utils/variables";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header__content {
  padding: 35px 0;
  width: 100%;
}

.header__content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
	max-width: 400px;
	
	@include desktop {
		width: 32%;
	}
}

.header__calc-btn {
  display: block;
  border-radius: 10px;
  border: solid 2px $yellow;
	padding: 8px 31px;
	transition: $norm;
	
	&:hover {
		background-color: $yellow;
	}

	@include desktop {
		padding: 8px 10px;
	}
}

.header__calc-btn-text {
  font-weight: $bold;
  color: $black;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    width: 29px;
    height: 30px;
    display: flex;
    background-image: url("/assets/img/icons/calc-ico.svg");
    background-size: contain;
    background-repeat: no-repeat;
		margin-right: 7px;
		
		@include tablets {
			display: none;
		}
  }
}

.header__contacts-tel-text {
  font-weight: $extra;
  line-height: 0.8;
  font-size: 30px;
  color: $blue-text;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: flex;
    width: 18px;
    height: 18px;
    background-image: url("/assets/img/content/phone.webp");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 15px;
		@include desktop {
			display: none;
		}
	}
	
	@include desktop {
		font-size: 26px;
	}
}

.header__contacts {
  min-width: 30%;
  display: flex;
  flex-direction: column;
	align-items: flex-end;
}

.header__contacts-other {
	width: 100%;
  display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 27px;
	@include desktop {
		margin-top: 20px;
		flex-direction: column;
		align-items: flex-end;
	}
}

.header__contacts-other-email,
.header__contcts-other-time {
  font-weight: $reg;
  font-size: 15px;
	color: $blue-text;
	display: flex;
	align-items: center;
	line-height: 1;
}

.header__contacts-other-email {
	&::before {
		content:"";
		display: flex;
		width: 18Px;
		height: 18Px;
		background-image: url('/assets/img/content/envelopes.webp');
		background-size: contain;
		background-repeat: no-repeat;
		margin-right: 10px;
		background-position-y: 3Px;
	}
}

.header__contcts-other-time {
	margin-left: 34px;
	&::before {
		content:"";
		display: flex;
		width: 18Px;
		height: 20Px;
		background-image: url('/assets/img/content/tool.webp');
		background-size: contain;
		background-repeat: no-repeat;
		margin-right: 10px;
		background-position-y: 2Px;
	}
	@include desktop {
		margin-top: 15px;
	}
}

///NAVIGATION
.header__nav {
	height: 52Px;
	background-color: $blue;
	width: 100%;
}

.header__nav-container {
	display: flex;
	height: 100%;
}

.header__nav-list {
	flex-direction: row;
	height: 100%;
	align-items: center;
}

.header__nav-item {
	text-transform: uppercase;
	font-size: 16px;
	color: $w;
	height: 100%;
}

.header__nav-item-link {
	padding: 0 35Px;
	display: flex;
	height: 100%;
	align-items: center;

	&:hover {
		background-color: $yellow;
	}
}

.header__nav-item--catalog {
	background-color: $yellow;
	padding-left: 17px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 35px;
		transform: translateY(-50%);
		display: flex;
		width: 11Px;
		height: 12Px;
		background-image: url("/assets/img/content/catalog-icon.webp");
		background-repeat: no-repeat;
		background-size: contain;
	}

	.header__nav-item-link {
		color: $black;
	}
}

//!========CATALOG========
.catalog {
	display: flex;
	position: absolute;
	z-index: 10;
	background-color: rgba($blue, 0.9);
	width: 100vw;
	max-height: 0;
	overflow: hidden;
	transition: max-height $norm;
	&.active {
		max-height: 100vh;
		display: flex;
	}
}

.catalog__container {
	padding: 15px 0 30px 0;
	display: flex;
}

.catalog__fences {
	max-width: 400px;
	border-right: 1px solid $yellow;
}

.catalog__fences-wrap {
	display: flex;

	@include desktop {
		flex-direction: column;
	}
}

.catalog__fences-title {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 16px;
	font-weight: $bold;
	text-transform: uppercase;
	color: $yellow;
	margin-right: 48px;

	&::before {
		content: "";
		display: flex;
		width: 50px;
		height: 50px;	
		background-image: url("/assets/img/content/limits.webp");
		background-repeat: no-repeat;
		background-size: contain;
		margin-right: 17px;
	}
}

.catalog__fences-btn {
	font-size: 14px;
	padding: 15px 25px;
	border-radius: 10px;
	background:$yellow;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: $norm;
	
	&:hover {
		background:$yellow-hover;
	}
	@include desktop {
		margin-top: 10px;
		max-width: 200px;
	}
}

.catalog__item {
	margin-top: 10px;
}

.catalog__item-link {
	color: $yellow;
	border-bottom: 1px solid transparent;
	transition: $norm;
	font-size: 16px;
	
	&:hover {
		border-bottom: 1px solid $yellow;
	}
}

.catalog__enter {
	padding: 0 25px;
	border-right: 1px solid $yellow;
}

.catalog__enter-title {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 16px;
	font-weight: $bold;
	text-transform: uppercase;
	color: $yellow;
	// margin-right: 48px;

	&::before {
		content: "";
		display: flex;
		width: 65px;
		height: 52px;	
		background-image: url("/assets/img/content/enter.webp");
		background-repeat: no-repeat;
		background-size: contain;
		margin-right: 17px;
	}
}

.catalog__others {
	padding: 0 25px;

}

.catalog__others-title {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 16px;
	font-weight: $bold;
	text-transform: uppercase;
	color: $yellow;
	// margin-right: 48px;

	&::before {
		content: "";
		display: flex;
		width: 53px;
		height: 53px;	
		background-image: url("/assets/img/content/others.webp");
		background-repeat: no-repeat;
		background-size: contain;
		margin-right: 17px;
	}
}
//!========HAMBURGER========
.header__nav .hamburger {
	display: none;
}