@import "../utils/variables";

.works {
	background-color: $blue-light;
	padding: 32px 0 40px 0;
}

.works__slider-choice {
	margin-top: 41px;
}

.works__slider-choice-list {
	display: flex;
	justify-content: center;
}

.works__slider-choice-item {
	margin-right: 20px;
}

.works__slider-choice-link {
	font-size: 14px;
	text-transform: uppercase;
	border-bottom: 2px solid transparent;
	transition: $norm;

	&.active {
		border-bottom: 2px solid $blue;
		padding-bottom: 3px;
	}
}

.works__content {
	margin-top: 43px;
}

.slider__list {
	display: none;

	&.active {
		display: block;
	}
}

.slider__item {
	margin-right: 30px;
	&:nth-child(4n) {
		margin-left: 0;
	}
}

.slider__item-title {
	margin-top: 16px;
	text-align: center;
}